# Databases settings
MONGO_DB_URI=mongodb://localhost:27017/

POSTGRES_USER_NAME=app_user
POSTGRES_PASSWORD=123456
POSTGRES_DB_NAME=time_table_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Security
JWT_SECRET_KEY=123456
JWT_REFRESH_SECRET_KEY = 123456
